{% extends "base.html" %}

{% block title %} Formulario de Boleto {% endblock %}

{% block content %}
    <div class="contenedor-formulario"> <h2>{{ titulo }}</h2>
        
        <form method="POST">
            {{ form.hidden_tag() }}
            
            <div class="form-group">
                {{ form.pelicula.label }}
                {{ form.pelicula() }}
            </div>
            
            <div class="form-group">
                {{ form.codigo_sala.label }}
                {{ form.codigo_sala() }}
            </div>
            
            <div class="form-group">
                {{ form.butaca.label }}
                {{ form.butaca() }}
            </div>
            
            <div class="form-group">
                {{ form.hora_funcion.label }}
                {{ form.hora_funcion() }}
            </div>
            
            <div class="ticket-actions">
                
                <button type="submit" class="btn-icono-form btn-guardar-check" title="Guardar boleto">
                    <i class="bi bi-check-circle"></i>
                </button>

                <a href="{{ url_for('boleteria') }}" class="btn-icono-form btn-cancelar-x" title="Cancelar">
                    <i class="bi bi-x-circle"></i>
                </a>

            </div>
        </form>
    </div>
{% endblock %}