{% extends "base.html" %}

{% block title %} {{ titulo }} {% endblock %}

{% block content %}
    <section class="auth-form">
        <h2>{{ titulo }}</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.descripcion.label }}
                {{ form.descripcion(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.fecha_hora.label }}
                {{ form.fecha_hora(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.total.label }}
                {{ form.total(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.metodo_pago.label }}
                {{ form.metodo_pago(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn-cimazon") }}
            </div>
        </form>
    </section>
{% endblock %}
