{% extends "base.html" %}

{% block title %} Editar función {% endblock %}

{% block content %}
    <h2>Editar Película</h2>
    
    <form method="POST">
        {{ form.hidden_tag() }}
        
        <p>
            {{ form.nombre.label }}<br>
            {{ form.nombre() }}
        </p>
        <p>
            {{ form.descripcion.label }}<br>
            {{ form.descripcion() }}
        </p>
        <p>
            {{ form.cantidad.label }}<br>
            {{ form.cantidad() }}
        </p>
        <p>
            {{ form.precio.label }}<br>
            {{ form.precio() }}
        </p>
        
        <p>
            {{ form.submit(value="Guardar cambios") }}
            <a href="{{ url_for('funciones_listar') }}">Cancelar</a>
        </p>
    </form>
{% endblock %}