{% extends 'base.html' %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}
    <section class="contenedor-login">
        <h2>Iniciar sesión</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn") }}
            </div>
        </form>
        <p>¿No tienes cuenta? <a href="{{ url_for('registro') }}">Regístrate aquí</a></p>
    </section>
{% endblock %}
